*{
    margin: 0px;
    padding: 0px;
    box-sizing: border-box;
}
a{
    cursor: pointer;
}
.ContenedorMenuUsuario{
    position: fixed;
    left: 0;
}

.ContainerReproductor{
    display: grid;
    grid-template-columns: 10%  90%;
}
.ContenedordGeneral{
    width: 100vw;
    text-align: center;
    align-items: center;
    height:100vh;
    padding: 1%;

}
.ContenedorPublicidad{
    width: 100vw;
    text-align: center;
    align-items: center;
    background-color: rgb(219, 23, 23);

    
}
.ContenedorBanner{
    padding-top: 3%;
    padding: 3%;
}
.imgBner{
    width: 95%;
    height: 80vh;
    margin-left: 7%;
}

/*Menu usuario*/
.ContenedorMenuUsuario{
    display: inline-block;
    text-align: center;
    width: 5vw;
    height: 100vh;
    background-color:rgba(77, 128, 80, 0);
}
.ContenedorSeccionesItems{
    display: flex;
    flex-direction: column;
    align-content: space-between;
    justify-content: space-between;
    height: 100vh;

}
.Item{
    margin-top: 30px;
}
.Item2{
    margin-bottom: 10px;
}
/*Contenido general*/
