
body{

    background-color: #121640;
    background-image: url(../register.jpg);
    width: 90%;
    height: 638px;
    background-position: 25%;
    background-size: cover;
    background-repeat: no-repeat;
    display: flex;
    justify-content: space-between;
    flex-wrap: wrap;
    flex-direction: row-reverse;
    align-items: flex-start;
    flex-direction: row-reverse;

 }

 form{
     color: white;
 }
.Pantalla{
    display: flex;
    align-items: center;
    justify-content: space-around;
}

form{
    font-weight: bold;
    border-radius: 15px;
    box-shadow: 1px 30px 60px 8px rgba(0, 0, 0, 0.726);
    display: inline-block;
    padding: 20%;
    color: #121640;
    background-color: #000000af;
    margin-top: 50%;

}
input{
    border-radius: 5px;
    border: none;
    padding: 5px;
    margin-top: 20px;
    margin-bottom: 30px;
    color: white;
    background-color: rgba(230, 230, 230, 0.26);
}
label{
    margin-top: 30px;
    color: white;
}

.btnLogin{
    color: white;
    text-decoration: none;
    margin-top: 30%;
    background-color: rgba(230, 230, 230, 0.26);
    padding: 8px;
    border-radius: 10px;
}

@media (max-width: 540px) {
    body{
        display: flex;
        flex-wrap: nowrap;
        flex-direction: column-reverse;
        flex-direction: row-reverse;
        align-items: flex-start;
        align-content: flex-start;
        justify-content: space-evenly;
        height: 653px;
    }

}