*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-size: 98%;
    text-decoration: none;
    color: #00C4CC;

}
html {
    scroll-behavior: smooth;
  }
body::-webkit-scrollbar {
    width: 5px;
  }
  
  body::-webkit-scrollbar-track {
    background: rgba(2, 2, 56, 0.247);
  }
  
  body::-webkit-scrollbar-thumb {
    border-radius: 20px;  
    border: 10px solid #8A3ADC;  
  }

body{
    overflow-x:hidden;
}
/*General*/
.Sec{
    
    margin-top: 15%;
    width: 97%;
}
.btn:hover{
    background-color: #cb88ff1a;
}
.ContainerPhoneMusic{
    display: none;
}
.music{
    width: 60%;
}
.btn{
    display: flex;
    align-items: center;    
    border: 1px solid #8A3ADC;
    border-radius: 50px;
    padding: 10px;
    padding-left: 20px;
    padding-right: 20px;
    text-decoration: none;
    color:#00C4CC;
    cursor: pointer;
}
body{
background-color:#121640 ;
}



/*Nabvar*/
nav{
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: 30px;
}
.Nav__Btn{
    border: 1px solid #8A3ADC;
    border-radius: 50px;
    padding: 10px;
    padding-left: 20px;
    padding-right: 20px;
    text-decoration: none;
    color:#00C4CC;
}
.Nav__Btn:hover{
    background-color: #cb88ff1a;
}
.Nav__Logo{
    width: 10%;
}

/*Seccion 1*/
.Seccion__Principal{
    display: flex;
    flex-direction: column;
    align-items: center;
}


.Seccion-Principal_Part1{
    display: flex;
    align-items: center;
    justify-content: space-around;
}
.Seccion__Principal--Imagen{
    width: 70%;
    
}

/*Seccion 2*/
.Seccion__Descargas{
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: center;
    flex-wrap: wrap;

}
.Seccion__Descargas--Img{
    width: 90%;

}
.Seccion__Title{
    font-size: 190%;
}
.Seccion__Parrafo{
    color:#CB88FF; 
    font-size: 130%;
}
.Seccion__Descargas--ContText{
    margin-bottom: 30px;
}
.Seccion__Descargas--ContBtn{
    display: flex;
    align-items: center;
    margin: 5%;
}

/*Seccion 3*/ 

.Seccion__Registrate{
    background-image: url("../img/register.jpg");
    background-image: url("../register.jpg");
    width: 100%;
    height: 45rem;
    background-size: contain;
    background-repeat: no-repeat;
    display: flex;
    align-items: center;
    justify-content: space-evenly;
    flex-wrap: wrap;
    flex-direction: row-reverse;
}

.formulario{
    display: inline-block;
}
form{
    font-weight: bold;
    border-radius: 15px;
    box-shadow: 1px 30px 60px 8px rgba(0, 0, 0, 0.5);
    display: inline-block;
    padding: 20%;
    color: #121640;
    background-color: #091ad61a;

}
input{
    border-radius: 5px;
    border: none;
    padding: 5px;
    margin-top: 10px;
    color: white;
    background-color: rgba(0, 0, 0, 0.418);
}
label{
    margin-top: 10px;
    color: white;
}
h2{
    color: white;
    font-size: 160%;
    margin-bottom: 25px;
}
.enviar{
    color: white;
} 


/*Seccion 4*/
.GridGaleria{
    display: grid;
    grid-template-columns: 33.3% 33.3% 33.3%;
    align-items: center;
    align-content: center;
    margin: 15px;
}
.GridGaleria__ContImg{
    width: 30px;
    height: 30px;
}
.GridGaleria__ContImg--img{
    width: 100%;
}
.GridGaleria__ContImg--img:hover{
    padding: 5px;
}


/*Footer*/
footer{
    background-color: black;
    text-align: center;
    padding: 10px;
    margin-top: 0;

}

.titulogaleria {
    text-align: center;
    color: #00C4CC;
}
@media (max-width: 580px) {
    *{
        font-size: 95%;
    }
    body{
        overflow-x: hidden;
     }
    .btn{
        display: flex;
        align-items: center;    
        border: 1px solid #8A3ADC;
        border-radius: 50px;
        padding: 10px;
        padding-left: 20px;
        padding-right: 20px;
        text-decoration: none;
        color:#00C4CC;
        cursor: pointer;
    }

    .ContainerPhoneMusic{
        
    display: flex;
    justify-content: space-around;
    align-items: center;
    flex-wrap: nowrap;
    flex-direction: row;


    }
    .music{
        width: 70%;
    }

    nav{
        display: flex;
        align-items: center;
        justify-content: space-between;
    }
    .Nav__Btn{
        border: 1px solid #8A3ADC;
        border-radius: 50px;
        padding: 10px;
        padding-left: 20px;
        padding-right: 20px;
        text-decoration: none;
        color:#00C4CC;
    }
    .Nav__Btn:hover{
        background-color: #cb88ff1a;
    }
    .Nav__Logo{
        width: 25%;
    }

    .Seccion__Principal--Imagen{
        width: 95%;
    }

    .Seccion__Principal{
        display: flex;
        align-items: center;
        margin-bottom: 50%;
        align-content: space-between;
        justify-content: space-around;
        flex-wrap: nowrap;
        flex-direction: column-reverse;
    }
    
    .Seccion__Principal--Imagen{
        width: 85%;
        
    }

    .Seccion-Principal_Part1{
        width: 100%;
    }

    .Seccion-Principal_Part2{
        position: relative;
        top: 250px;
    }

    /*Seccion 2*/
.Seccion__Descargas{
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: center;
    flex-wrap: wrap;

}
.Seccion__Descargas--Img{
    width: 100%;



}
.Seccion__Descargas--Part1{
    text-align: center;
    align-items: center;
    align-content: center;
}
.Seccion__Title{
    font-size: 190%;
}
.Seccion__Parrafo{
    color:#CB88FF; 
    font-size: 130%;
}
.Seccion__Descargas--ContText{
    margin-bottom: 30px;
    text-align: center;
}
.Seccion__Descargas--ContBtn{
    display: flex;
    flex-direction: row;
    align-content: stretch;
    flex-wrap: nowrap;
}

.Seccion__Title{
    align-items: center;
}

.Seccion__Registrate{
    background-image: url("../register.jpg");
    width: 100%;
    height: 1%;
    background-position: 15%;
    background-size: auto;
    background-repeat: no-repeat;
    display: flex;
    align-items: center;
    justify-content: space-evenly;
    flex-wrap: wrap;
    flex-direction: row-reverse;
}


form{
    font-weight: bold;
    border-radius: 15px;
    box-shadow: 1px 30px 60px 8px rgba(0, 0, 0, 0.5);
    display: inline-block;
    padding: 20%;
    color: #ffffff;
    background-color: #00000046;
    margin-top: 50%;
    margin-bottom: 50%;

}
input{
    color: white;
}
label{
    color: white;
}

.formulario{
    display: flex;
    flex-wrap: nowrap;
    flex-direction: row-reverse;
    align-items: flex-end;
    justify-content: flex-start;
}

.ContenedorBotonesDescarga{
    display: grid;
    grid-template-columns: 30% 30% 30%;
    align-items: center;
    justify-items: center;
    justify-content: space-around;
}

.Sec2{
    margin-top: 60%;
    margin-bottom: 40%;
  }


}